.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: white;
    background-color: #01796F;
    align-items: center;
    justify-content: center;
}

.header-title {
    height: 100%;
    align-items: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: cursive;
    font-size: large;
}