/* Slideshow */

.slideshow {
    /* margin: 0 auto; */
    overflow: hidden;
    /* max-width: 500px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    /* white-space: normal; */

    height: 600px;
    /* height: 70%; */
    max-height: 90%;
    width: 100%;
    max-width: 100%;
    /* border-radius: 40px; */
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #56ae54;
}

.imgbox {
    display: grid;
    max-height: 100vh;
    max-width: 100vh;
}

.img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}